<!DOCTYPE html>
<head>
    <title>iWakeUp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Convergence" rel="stylesheet"> 
</head>
<body>
    <div class="panel">
        <h1>iWakeUp</h1>
        <form method="post" id="alarm-form">
            <input 
                type="time" 
                name="time" 
                value="{{ time }}"
            >
            <input 
                type="checkbox" 
                name="on"
                id="switch" 
                {% if on %} checked {% endif %}
            />
            <label for="switch">Toggle</label>
            <p>The alarm is currently set to {{ time }} and turned {% if on %} on {% else %} off {% endif %}</p>
            <a class="submit" onclick="document.getElementById('alarm-form').submit()" href="#">Update Alarm</a>
        </form>
    </div>
</body>